<div class="container-sm mt-3">
  <h1> TODO LIST </h1>
</div>

<div class="input-group mb-3">
  <input #todo type="text" name="title" class="form-control" placeholder="Enter any todo" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button (click)="postTodo(todo.value)" class="btn btn-outline-primary" type="submit" id="button-addon2">ADD TODO</button>
</div>

<table class="table">
  <tbody *ngFor="let item of list; let i = index">
    <tr>
      <th>{{i}}</th>
      <td>{{item.title}}</td>
      <td><button (click)="delete(item.id)" class="btn btn-danger">&times;</button></td>
    </tr>
  </tbody>
</table>

